@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans.ttf') format('truetype');
}

:root {
  --max-width: 1280px;
  --lateral-spacing: 1rem;

  --color-background: #eef4ff;
  --color-background-2: #f5f7fa;
  --color-contraste: #ffffff;
  --color-border: #e1e5eb;
  --color-border-strong: #cbd2dc;

  --color-blue-primary: #2b4c7e;
  --color-blue-primary-hover: #21406a;
  --color-dark-blue: #1b365d;

  --color-background-light: #e7eef8;
  --color-border-background-light: #cbdbef;

  --color-text-primary: #1b2431;
  --color-text-secondary: #5b6472;
  --color-texto-tercero: #8b93a1;

  --color-green-icon: #003d36;
  --color-orange-dark: #9a442d;

  --base-font: 'Plus Jakarta Sans', system-ui, sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--base-font);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--espaciado-lateral);
}
