* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  font-size: 16px;
  text-decoration: none;

}

#title-page {
  text-align: center;
  color: #09f;
  font-weight: 800;
  font-size: 24px;
}

h2 {
  color: #09f;
  font-size: 18px;

}

table {
  border: 2px solid #b82bae;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 16px;
  border-radius: 8px;
}  

td {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.registrate-aqui {
  width: fit-content;
  border: 1px solid #000;
  color: black;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background .3s ease;
}

.registrate-aqui:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
}